# Repaso Curso Zero2Hero - Notas Abner

## Clase 02: 
### Variables:

In [1]:
#ejemplo de variables numéricas:

In [5]:
x = 5 #creamos un par de variables

In [6]:
y = 10

In [9]:
x+y #posteriormente, con las variables guardadas, solicitamos operación

15

In [10]:
a = 10
b = 'abner' #Creamos una variable numérica y una que no lo es

In [12]:
a+b #producimos un error al tratar de sumar dos varibales de diferente tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
type(a) #aquí solicitamos el type o tipo de la variable entre paréntesis

int

In [18]:
a = 1
b= 2.5
c = 'Kassandra'

type(a) #pedimos cada uno de los tipos de variables, logrando int, float y stg

int

In [23]:
#para entender que no es posible realizar operaciones con dos tipos de variables, realizamos el siguiente ejercicio:

nombre = input('dame tu nombre ')
edad = 25

nombre+edad

dame tu nombre abenr

TypeError: can only concatenate str (not "int") to str

In [24]:
#para poder realizar la operación, es necesario que todas las variables sean del mismo tipo, de forma:

nombre+' tiene '+edad+' años.'

TypeError: can only concatenate str (not "int") to str

In [27]:
#para poder realizar la operación, es necesario que todas las variables sean del mismo tipo, de forma:

nombre+' tiene '+str(edad)+' años.'

'abenr  tiene 25 años.'

##### Var- Logicas

In [29]:
5 > 2 #preguntas de verdadero y falso que contiene python

True

In [30]:
4 == 4.00001

False

In [32]:
4 == 4.00000000000000000000000001 #aqui recreamos la combinación de verdadero y falso para el error de maquina

True

In [36]:
username = "abnerlugoo"
password = "2871997"

user_username=input('username: ')
user_password=input('password: ')

username == user_username and password == user_password #realizamos un experimento de login para evaluar dos condiciones de verdadero y falso

username: abnerlugoo
password: 2871997

True

In [43]:
#para evaluar otras sentencias, creamos un código simulando una aplicación de matches tipo tinder, donde el usuario busca
#sugar mommyies, el tiene determinado una edad máxima para aceptar candidatas y el mínimo de recaudación ofrecida para aceptar
#en caso de que no cumplieran con la edad:

nombre = 'abner'
edad = 25

#criterios de selección:
edad_max = 40
remuneracion_min = 30000

#captura de datos de usuario:
user_age = input('age: ')
user_monthly = input('monthly colaboration: ')

#modelo de clasificación:
int(user_age) <= edad_max or int(user_monthly) >= remuneracion_min

#al final, corrimos dos veces el programa, una colocando el primer valor de usuario por encima del minimo establecido para 
#obligar al programa a juzgar la segunda sentencia, la cual colocamos por debajo del minimo establecido, obteniendo un true
#en el segundo caso, hicimos ambas capturas por debjo del mínimo declarado para obtener un false, en este tipo de criterio
# en donde usamos or, al menos uno se debe cumplir, si queremos que se cumplan o cancelen ambas, debimos usar un and en lugar del or.

age: 41
monthly colaboration: 29999

False

### 3.- Variables condicionales:

In [45]:
#realizamos un ejercicio donde se pregunta al usurio su edad, para evaluar si está en rango de entrar o no al antro.

edad = input('edad: ')
edad = int(edad)

edad >= 18

edad: 10

False

##### En esta parte del curso, aprendimos la palabra indentar, lo cual no existe en español, pero es la palabra adaptada del ingles indentation que
##### tiene relación con sangrar líneas.

In [49]:
##programa rápido para implementar if y else: 
edad = int(input('edad: '))
if edad >= 18:
    print('Puedes entrar, bienvenido a Guanajuato Grill, el lugar favorito de Kassandra Zamora')
else: 
    print('Mamaste, no entras a Guanajuato Grill, el lugar favorito de Kassandra Zamora')

edad: 16
Mamaste, no entras a Guanajuato Grill, el lugar favorito de Kassandra Zamora

In [52]:
#ejemplo similar al login hecho previamente, pero ahora con la sentencia del if:

usuario = 'abnerlugoo'
contraseña = '2871997'

username = input('usuario: ')
password = input('contraseña: ')

if username == usuario and password == contraseña:
    print('Bienvenido, acceso correcto.')
else:
    print('Error, datos erróneos.')

usuario: abnerlugoo
contraseña: 2871997
Bienvenido, acceso correcto.

In [57]:
#aquí utilizamos la estructura if-else para agregar más condiciones, con un ejemplo de calificaciones:
## 1-5 reprobado, 6 condicionado y 7-10 aprobado:

nombre = input('nombre del alumno: ')
calif = float(input('calificación del alumno: '))

estado_alumno = ''
#codigo de calificación:
if calif < 6:
    estado_alumno = 'Reprobado'
elif calif == 6:
    estado_alumno = 'Condicionado'
else:
    estado_alumno = 'Aprobado'
    
print(f'El alumno: {nombre} tiene una calificación de: {calif}/10, por lo tanto, el alumno está: {estado_alumno}')

nombre del alumno: Abner
calificación del alumno: 9
El alumno: Abner tiene una calificación de: 9.0/10, por lo tanto, el alumno está: Aprobado

In [62]:
#ejemplo exprés que se usó para entender el uso del elif
#el elif es simplificar el uso de else e if, cuando se tienen más condiciones, en el ejemplo anterior solo existe uno puesto que
#unicamente se están evaluando esos 3 rangos, pero si fueran más, se presentaría de la siguiente manera:

nacionalidad = input('Dime tu país y te saludaré: ')
if nacionalidad == 'México':
    print('qué onda pa')
elif nacionalidad == 'EEUU':
    print('wassupp')
elif nacionalidad == 'Germany':
    print('hallo vie wetz')
elif nacionalidad == 'Wakanda':
    print('wakanda 4 ever')
elif nacionalidad == 'Puebla':
    print('quieres un polvorón?')
else:
    print('hey') #el else juega como el complemento de todo lo demás, por eso, no es posible realizarlo con if y else unicamente

Dime tu país y te saludaré: Germany
hallo vie wetz

### 4.- Listas

In [63]:
empleados = ['Ernesto','Roberto','Ángel','Josué','Héctor','Emiliano','Delphos','Johana','Aimee']
len(empleados)

9

In [64]:
#para acceder a elementos de la lista: 
empleados[0] #esto está pasando porque python utiza 0 como elemento inicial

'Ernesto'

In [69]:
#agregar elementos a una lista: 
empleados.append('Abner')
empleados

['Roberto',
 'Ángel',
 'Josué',
 'Héctor',
 'Emiliano',
 'Delphos',
 'Johana',
 'Aimee',
 'Abner',
 'Abner',
 'Abner']

In [70]:
#eliminar elementos de una lista:
empleados.remove('Abner')
empleados.remove('Abner')
empleados.remove('Abner')
empleados.append('Ernesto')
empleados

['Roberto',
 'Ángel',
 'Josué',
 'Héctor',
 'Emiliano',
 'Delphos',
 'Johana',
 'Aimee',
 'Ernesto']

#### 5.- Ciclos:

In [73]:
novias = ['novia 1','novia 2','novia 3']

for n in novias: 
    print(f'Te quiero mucho {n}, eres única para mi')

Te quiero mucho novia 1, eres única para mi
Te quiero mucho novia 2, eres única para mi
Te quiero mucho novia 3, eres única para mi

In [80]:
novias = [
    ['Alicia',22,'jugar boliche'],
    ['Gabriela',24,'limpiar la casa'],
    ['Daniela 3',21,'ir al cine']
]

for n in novias:
    print(f'queridísima: {n[0]} gracias por compartir estos {(n[1])-20} años a mi lado, me encanta como es que te gusta tanto {n[2]}')

queridísima: Alicia gracias por compartir estos 2 años a mi lado, me encanta como es que te gusta tanto jugar boliche
queridísima: Gabriela gracias por compartir estos 4 años a mi lado, me encanta como es que te gusta tanto limpiar la casa
queridísima: Daniela 3 gracias por compartir estos 1 años a mi lado, me encanta como es que te gusta tanto ir al cine

In [86]:
novias = [
    ['Alicia',22,'jugar boliche'],
    ['Gabriela',24,'limpiar la casa'],
    ['Daniela 3',21,'ir al cine']
]

for novia in novias:
    print(f'Ayer soñe conntigo {n[0]}, mañana nos vemos para {n[2]}')

Ayer soñe conntigo Daniela 3, mañana nos vemos para ir al cine
Ayer soñe conntigo Daniela 3, mañana nos vemos para ir al cine
Ayer soñe conntigo Daniela 3, mañana nos vemos para ir al cine

In [92]:
#Ejemplo de Tarea:
#1.- Elaborar programa que pregunte ingresos y egresos calcule el superávit e imprima si la persona genera
#ganancias o requiere algún préstamo:


ingresos = float(input('¿Cuánto ganas al mes?: '))
egresos = float(input('¿Cuánto gastas al mes?: '))

diferencia = ingresos - egresos

if diferencia <= 0:
    print(f'Es necesario que solicites un préstamos a alguna institución bancaria, pues estás en déficit debiendo: {diferencia*-1} pesos')
else:
    print(f'Tus finanzas se encuentran en buen estado, tu superávit es de: {diferencia} pesos')

¿Cuánto ganas al mes?: 7000
¿Cuánto gastas al mes?: 7400
Es necesario que solicites un préstamos a alguna institución bancaria, pues estás en déficit debiendo: 400.0 pesos

In [100]:
#2.- Crear un programa para agregar ligues a una base de datos (lista de listas), agregar 3 cualidades
#de la persona, construir un algoritmo para priorizar nuetra atención a esos ligues, basado en un atributo.

#atributos: nombre, edad, ciudad de origen, profesión, salario mensual
ligues = []

novia1 = ['Mariana', 27,'Salamanca', 'Química', 6300]
novia2 = ['Paola', 24,'Irapuato', 'Dentista', 8200]
novia3 = ['Sofia', 23,'León', 'Ingeniería Amb', 11300]
novia4 = ['Mariana', 32,'Guanajuato', 'Artista', 2200]
novia5 = ['Verónica', 21,'Silao', 'Programador', 20300]

ligues.append(novia1) #agremos elemntos a la lista para hacer uso de la función append, posteriormente
ligues.append(novia2) #solicitamos lectura de la lista para confirmar que está bien organizada
ligues.append(novia3)
ligues.append(novia4)
ligues.append(novia5)

#criterio a maximizar y posteriormente a extraer:
#aquí elegimos el elemento de la lista que deseamos extraer, agregamos una pregunta al usuario y brindamos
#indice para selecciónar el dato a extraer y obtener el mayor.

print('indice de valores posibles a extraer: ')
print('presiona 0 para recuperar nombre')
print('presiona 1 para recuperar edad')
print('presiona 2 para recuperar ciudad de origen')
print('presiona 3 para recuperar ocupación')
print('presiona 4 para recuperar salario')
print(' ')
print('SE RECUPERARÁ EL VALOR MÁXIMO DE LA LISTA:')
criterio = int(input('¿Qué valor deseas recuperar?:  '))

valores = []
for l in ligues:
    valores.append(l[criterio])
    
print('El valor máximo para ese valor es: ')
max(valores)

indice de valores posibles a extraer:
presiona 0 para recuperar nombre
presiona 1 para recuperar edad
presiona 2 para recuperar ciudad de origen
presiona 3 para recuperar ocupación
presiona 4 para recuperar salario

SE RECUPERARÁ EL VALOR MÁXIMO DE LA LISTA:
¿Qué valor deseas recuperar?:  4
El valor máximo para ese valor es:

20300

### hasta aquí la dejamos por hoy, mañana seguimos estudiando